---
import { Image } from "astro:assets";
const { post } = Astro.props;
---

<article class="overflow-hidden">
  <a href={`/blog/${post.slug}`}>
    <Image
      width={600}
      height={600 / 1.5}
      class="w-full rounded-lg"
      src={post.data.image}
      alt={post.data.title}
      loading="eager"
      format="webp"
      transition:name={post.data.title}
    />
  </a>
  <div class="flex justify-between">
    <p class="p-1 text-gray-300">{post.data.date}</p>
    <p>{post.data.author}</p>
  </div>
  <a href={`/blog/${post.slug}`}>
    <h3 class="font-bold text-xl my-2">
      {post.data.title}
    </h3>
    <p class="text-base line-clamp-2">
      {post.body}
    </p>
  </a>
</article>
