---
import { Image } from "astro:assets";
const { post } = Astro.props;

function formattedDate(fechaString) {
        // Fecha proporcionada
        var fecha = new Date(fechaString);

        // Función para obtener el día con dos dígitos
        function obtenerDiaConCeros(dia) {
          return (dia < 10 ? '0' : '') + dia;
        }

        // Obtener día, mes y año
        var dia = obtenerDiaConCeros(fecha.getDate());
        var mes = obtenerDiaConCeros(fecha.getMonth() + 1); // Los meses van de 0 a 11
        var year = fecha.getFullYear();

        // Retornar la fecha formateada
        return mes + '/' + dia + '/' + year;
      }

let date = formattedDate(post.data.date)
---

<article class="overflow-hidden">
  <a href={`/blog/en/${post.slug}`}>
    <Image
      width={600}
      height={600 / 1.5}
      class="w-full rounded-lg"
      src={post.data.image}
      alt={post.data.title}
      loading="eager"
      format="webp"
      transition:name={post.data.title}
    />
  </a>
  <div class="flex justify-between">
    <p class="p-1 text-gray-300">{date}</p>
    <p>{post.data.author}</p>
  </div>
  <a href={`/blog/en/${post.slug}`}>
    <h3 class="font-bold text-xl my-2">
      {post.data.title}
    </h3>
    <p class="text-base line-clamp-2">
      {post.body}
    </p>
  </a>
</article>
